{
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": [
    "jest",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "max-len": ["error", { "code": 120 }],
    "linebreak-style": "off",
    "no-confusing-arrow": "off",
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "never"],
    "import/no-unresolved": "off",
    "class-methods-use-this": "off",
    "no-param-reassign": "off",
    "no-debugger": "off",
    "no-plusplus": "off",
    "consistent-return": "off",
    "no-prototype-builtins": "off",
    "no-restricted-globals": "off",
    "no-case-declarations": "off",
    "@typescript-eslint/no-empty-function": "off",
    "semi": "off",
    "@typescript-eslint/semi": ["error"]
  }
}
